body {
    color: white;
    background-color: black;
}

section{
    background-color: rgb(241, 2, 241);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
header{
    padding-bottom: 50px;
    padding-top: 50px; 
}
.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}